.error .form-control:focus {
  background-color: #e9ecef;
  border-color: #a94442;
  box-shadow: 0 0 0 0.2rem rgba(111, 8, 8, 0.5);
}

.error {
  color: #a94442;
  border-color: #a94442;
}

.error-message {
  color: #a94442;
  font-style: italic;
}
