body {
  font-family: 'Fira Sans Extra Condensed', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
}

.main-content-body {
  padding: 0;
  margin: 0;
}

#image-logo {
  max-width: 150px;
}

.image-logo--off {
  display: none;
}

body.sidenav-toggled site-navigation .fa {
  color: $yellow;
}

table.dataTable tr:hover, table.table tr:hover {
  cursor: pointer;
}

div.page-header {
  color: $yellow;
  background-color: $gray-800;
  padding: .75rem 1.25rem;
  border-radius: calc(.5rem - 1px) calc(.5rem - 1px) 0 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

div.page-header h3 {
  margin: 0;
  font-size: 1.25rem;
}
