/*--------------------------------------------------------------
# BOOTSTRAP STYLES OVERRIDES
--------------------------------------------------------------*/
 /* MAIN COLOURS */
/*
$inforlub-yellow: #ffd92b;
$inforlub-light-grey: #ededed;
$inforlub-dark-grey: #444444;
$inforlub-dark-background: #202020;
$inforlub-white: #fff;
*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,400,400i,500,700');

/*--------------------------------------------------------------
# Import Colors Overrides
--------------------------------------------------------------*/
@import "colors";

/*--------------------------------------------------------------
# Main Website Content Overrides
--------------------------------------------------------------*/
@import "main";

/*--------------------------------------------------------------
# Main Website Content Overrides
--------------------------------------------------------------*/
@import "forms";

/*--------------------------------------------------------------
# CLASSES FOR THE INDICATOR COMPONENTS
--------------------------------------------------------------*/
@import "indicator-component";

/*--------------------------------------------------------------
# FONT OVERRIDE FOR ALERT MESSAGES
--------------------------------------------------------------*/
@import "alert-message";

/*--------------------------------------------------------------
# COLOR OVERRIDES FOR CARDS
--------------------------------------------------------------*/
@import "cards";

/*--------------------------------------------------------------
# COLOR FOR BTN for actions (New, Save, Delete)
--------------------------------------------------------------*/
@import "form-button-actions";

/*--------------------------------------------------------------
# COLOR OVERRIDES FOR BTN AND Links
--------------------------------------------------------------*/
@import "button-link";

/*--------------------------------------------------------------
# ERROR MESSAGES AND STYLES
--------------------------------------------------------------*/
@import "error-message";

/*--------------------------------------------------------------
# SWITCH CONTROL STYLE SHEET
--------------------------------------------------------------*/
@import "switch";

/*--------------------------------------------------------------
# TAGs STYLE SHEETS
--------------------------------------------------------------*/
@import "../tags/wire-frame/wrapper";
