/*--------------------------------------------------------------
# BOOTSTRAP STYLES OVERRIDES
--------------------------------------------------------------*/
 /* MAIN COLOURS */
/*
$inforlub-yellow: #ffd92b;
$inforlub-light-grey: #ededed;
$inforlub-dark-grey: #444444;
$inforlub-dark-background: #202020;
$inforlub-white: #fff;
*/
/*--------------------------------------------------------------
# Import Colors Overrides
--------------------------------------------------------------*/
@import "colors";
/*
.btn-primary {
  color: #ffd92b;
  background-color: #202020;
  border-color: #202020;
}
.btn-primary:hover {
  color: #ffd92b;
  background-color: #444;
  border-color: #555;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #ffd92b;
  background-color: #202020;
  border-color: #202020;
}
 */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:300,300i,400,400i,500,700');
 body {
   font-family: 'Fira Sans Extra Condensed', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1rem;
   line-height: 1.5;
 }

.main-content-body {
  padding: 0;
  margin: 0;
}

#image-logo {
  max-width: 150px;
}

.image-logo--off {
  display: none;
}

.form-group label {
  font-weight: 700;
  margin-bottom: 0;
}

body.sidenav-toggled site-navigation .fa {
  color: $yellow;
}

table.dataTable tr:hover, table.table tr:hover {
  cursor: pointer;
}

/*--------------------------------------------------------------
# COLOR OVERRIDES FOR BTN AND Links
--------------------------------------------------------------*/

.btn-primary {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

a {
  color: #23272b;
}

a:hover {
  color: #1d2124;
}

.page-link {
  color: #343a40;
  background-color: #fff;
  border: 1px solid #343a40;
}

.page-link:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.page-item.active .page-link {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.page-item.disabled .page-link {
  color: #23272b;
  background-color: #fff;
  border-color: #1d2124;
}
/*--------------------------------------------------------------
# SWITCH CONTROL STYLE SHEET
--------------------------------------------------------------*/
@import "switch";

/*--------------------------------------------------------------
# TAGs STYLE SHEETS
--------------------------------------------------------------*/
@import "../tags/wire-frame/wrapper.css";
@import "../tags/wire-frame/site-header.css";
@import "../tags/wire-frame/toggle-site-navigation.css";
@import "../tags/wire-frame/site-messages.css";
@import "../tags/wire-frame/site-alerts.css";
@import "../tags/wire-frame/site-search.css";
@import "../tags/wire-frame/site-logout-button.css";
@import "../tags/wire-frame/main-content.css";
@import "../tags/wire-frame/bread-crumb.css";
@import "../tags/wire-frame/content-body.css";
@import "../tags/wire-frame/site-footer.css";
@import "../tags/wire-frame/site-navigation.css";
